# SPDX-License-Identifier: MIT
#
# Example of a trustee_server of configuration file
#
{{ ansible_managed | comment }}
{{ "system_role:trustee_server" | comment(prefix="", postfix="") }}
[foo]
foo = {{ trustee_server_foo }}
bar = {{ trustee_server_bar }}
